@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStd-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Averta';
    src: url(../fonts/AvertaStd-Semibold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url(../fonts/PPTelegraf-Regular.otf);
}

@font-face {
    font-family: 'Telegraf Light';
    src: url(../fonts/PPTelegraf-UltraLight.otf);
}

@font-face {
    font-family: 'Telegraf Bold';
    src: url(../fonts/PPTelegraf-UltraBold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Averta';
    font-weight: 400;
}

button {
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Telegraf';
}

section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

button {
    cursor: pointer;
}
input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.slider-wrapper .slider-item iframe,
.block-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.slider-wrapper .slider-item iframe {
    border-radius: 50%;
}

video,
.player .vp-video-wrapper object, .player .vp-video-wrapper video {
    object-fit: cover !important;
}

.nav-menu__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 5;
}

.nav-menu__wrapper {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

.nav-menu__wrapper.open {
    opacity: 1;
    visibility: inherit;
    pointer-events: auto;
}

.highlight {
    color: #dc7550;
}

.word {
    position: relative;
    /* opacity: 0; */
}

.splitting[data-animation="text"] {
    overflow: hidden;
    height: fit-content;
}

.splitting[data-animation="text"] .word {
    transform: translateY(400px);
    transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-delay: calc( 0.2s + ( 0.2s * ( var(--word-index)) ) );
}

.splitting.is-inview[data-animation="text"] .word {
    transform: translateY(0%);
}

[data-animation=line] {
    width: 100%;
    display: block;
}

[data-animation=mask].in-view {
    visibility: visible;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    transform: skewY(0);
}

::before,
::after {
    box-sizing: border-box;
    outline: none;
}

strong {
    font-weight: bold;
}

.process-accordion .process-accordion__wrapper .process-activities li {
    width: 49%;
    list-style: none;
    color: rgba(18,18,18,.8);
    margin-bottom: 2.2rem;
    position: relative;
    line-height: 1.3;
}

.process-accordion .process-accordion__wrapper .process-activities li:before {
    content: "";
    background-color: #ffeba2;
    border-radius: 68rem 68rem 0 0;
    transform: rotate(90deg);
    display: block;
    height: 1rem;
    width: 0.7rem;
    top: 0.6rem;
    left: -2rem;
    position: absolute;
    margin-right: 1.4rem;
    transition: opacity .5s ease .3s;
}

.process-accordion .process-accordion__wrapper .process-activities li:before {
  opacity: 0;
}

.process-accordion .process-accordion__wrapper .process-activities li.is-inview:before {
  opacity: 1;
}

.faq-accordion.active .faq-accordion__body p {
    font-size: 1.225rem;
    line-height: 1.5;
}

.faq-accordion.active .faq-accordion__body ul li {
    list-style: none;
    position: relative;
    padding: 0.5rem 1.5rem;
}

.faq-accordion.active .faq-accordion__body ul li::before {
    content: "";
    width: 0.2rem;
    height: 0.75rem;
    background-color: #dc7550;
    position: absolute;
    top: 0.875rem;
    left: 0;
    bottom: 1rem;
}

